## 데이터 입출력

1. csv 파일적재

- pd.read_csv()
    - 컬럼명이 존재하는 데이터
    - 컬럼명이 없는 데이터
    - 구분자 설정

Tip 
- 절대경로 
    - 모든 경로를 다 입력해서 파일이나 경로를 가져오는 것
    - C드라이브부터 전부 위치를 다 지정해야 되는 방법
    - data폴더가 C드라이브 내에 여러개 있을수 있기 때문에 하나하나 입력하는 방법

- 상대경로 
    - 대상 파일과 실행중인 파일간에 겹치는 경로가 존재할 때
    - 겹치지 않는 부분부터 기술하는 것

In [14]:
import pandas as pd

In [15]:
# data/ex1.csv 파일 리딩(컬럼명이 존재하는 csv파일)
# read_csv 기본동작 : 첫 행 데이터를 컬럼으로 사용
# C:\doksan_bank\04.python_da\2022-10-24-02(데이터_입출력_csv))
# C:\doksan_bank\04.python_da\data\ex1.csv
# 위 경로에서 겹치는 부분을  제외하고 달라지는 분기점부처 입력

data = pd.read_csv('data/ex1.csv')
data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [16]:
# 컬럼이 없는 데이터인데 자동으로 컬럼으로 인식해버려서 문제가 발생합니다.
data = pd.read_csv('data/ex2.csv')
data

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [17]:
# data/ex2.csv 읽기(컬럼명이 없는 csv파일)
# 그럴 때는 헤더를 None 하면 됩니다, -> read_csv : header = None
data = pd.read_csv('data/ex2.csv', header = None)
data

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [18]:
# 컬럼명 a,b,c,d,e 를 data 변수에 추가해보세요
data

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [19]:
data.columns = ['a', 'b', 'c', 'd', 'e']
data

   a   b   c   d      e
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [28]:
# data/ex3.csv 읽기
# 기본 구분자 = ,
# read_csv() : sep 파라미터
# 여기서 구분자는 tab으로 구분되어있습니다.
# 그렇다고 \t 로 구분하려니 또 안됩니다.
# 그럴때는 '\s+' 로 구분해야 합니다.
# 구분자 : ",", " ", "\t", "/", "\" => 전부 \s+로 처리 가능
data2 = pd.read_csv('data/ex3.csv', sep = '\s+')
data2

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [31]:
# data/ex4.csv 읽기(주석이 포함된 파일 읽기)
# 파라미터1 : skiprows = [생략하고 싶은 로우 인덱스 번호]
pd.read_csv('data/ex4.csv')

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [32]:
# 직접 제거할 로우를 하나하나 입력하는 방법
pd.read_csv('data/ex4.csv', skiprows = [0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [33]:
# 파라미터 2 : comment '주석기호' (주석 유도시 사용한 주석 시작기호 입력)
pd.read_csv('data/ex4.csv')

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [34]:
# #으로시작하는 코멘트 전부 제외
pd.read_csv('data/ex4.csv', comment = '#')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## 2. 엑셀 파일 읽기
- 기본적으로 첫번째 시트에 있는 데이터를 읽어와서 데이터프레임으로 저장
- 모든 시트를 읽기 위해서는 sheetname 인자를 None으로 설정
    - 모든 시트의 데이터를 읽어서 사전 형태로 저장
    - key = 시트의 이름, value = 각 시트에 있는 데이터들을 저장한 데이터프레임
- 특정 시트만 읽기 위해서는 sheetname 인자에 '시트명' 설정

#### ex6.xlsx 파일
<img src="img/엑셀파일예제.jpg" alt="csv파일예제" style="width: 600px;"/>

In [35]:
# 파일 읽기(첫 번째 시트만 자동으로 읽어옵니다.-디폴트값이 1번 시트)
pd.read_excel('data/ex6.xlsx')

   a   b
0  1   2
1  5   6
2  9  10

In [36]:
# 두 번째 시트를 불러올 때
pd.read_excel('data/ex6.xlsx', sheet_name = '시트2')

    c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo

In [41]:
# 모든 시트 전부 불러오기 (대신 딕셔너리형으로 읽어옵니다.)
data = pd.read_excel('data/ex6.xlsx', sheet_name = None)
data

{'시트1':    a   b
 0  1   2
 1  5   6
 2  9  10,
 '시트2':     c   d message
 0   3   4   hello
 1   7   8   world
 2  11  12     foo}

In [42]:
# 딕셔너리형이기 때문에 key, value값을 불러오기가 가능합니다.
print(data.keys())
print(data.values())

dict_keys(['시트1', '시트2'])
dict_values([   a   b
0  1   2
1  5   6
2  9  10,     c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo])

In [44]:
# 시트1, 시트2의 데이터를 각각 변수 data1, data2에 저장
data1, data2 = data.values()
print(data1)
print('-'*50)
print(data2)

   a   b
0  1   2
1  5   6
2  9  10
--------------------------------------------------
    c   d message
0   3   4   hello
1   7   8   world
2  11  12     foo