In [3]:
import urllib.request
import json
import pandas as pd
from pandas.io.json import json_normalize
from datetime import date, timedelta
from dateutil.relativedelta import relativedelta

key = '4263575945776f6c3130356a6d556b53'
start_date = date(2019, 1, 1)
columns_name = (['USE_MON', 'LINE_NUM', 'SUB_STA_NM', 'PAY_RIDE_NUM', 'FREE_RIDE_NUM',
       'PAY_ALIGHT_NUM', 'FREE_ALIGHT_NUM', 'WORK_DT'])
final_data = pd.DataFrame(columns = columns_name ) # 데이터프레임 생성 - 컬럼명 맞추기

for i in range(1, 37):
    target_date = start_date.strftime('%Y%m')
    url = 'http://openapi.seoul.go.kr:8088/%s/json/CardSubwayPayFree/1/1000/%s/'%(key, target_date )
    
    result = urllib.request.urlopen(url)
    
    json_raw_data = result.read()
    json_utf8 = json_raw_data.decode('utf-8')
    json_complete = json.loads(json_utf8)
    
    monthly_plus_data = pd.DataFrame(json_complete['CardSubwayPayFree']['row'])
    final_data = pd.concat([final_data, monthly_plus_data])
    
    plus_month = relativedelta(months=1) # 월 더하기
    start_date = start_date + plus_month
    
    
final_data

,USE_MON,LINE_NUM,SUB_STA_NM,PAY_RIDE_NUM,FREE_RIDE_NUM,PAY_ALIGHT_NUM,FREE_ALIGHT_NUM,WORK_DT
0,201901,경의선,곡산,11758.0,4209.0,11719.0,4073.0,20190203
1,201901,1호선,종로5가,571824.0,275447.0,583955.0,263687.0,20190203
2,201901,1호선,종각,1240810.0,162410.0,1177643.0,152062.0,20190203
3,201901,1호선,청량리(서울시립대입구),463456.0,352121.0,482960.0,357571.0,20190203
4,201901,1호선,서울역,1516452.0,221180.0,1400464.0,211764.0,20190203
...,...,...,...,...,...,...,...,...
604,202112,중앙선,도농,226955.0,53170.0,204211.0,51107.0,20220103
605,202112,중앙선,지평,866.0,793.0,1086.0,723.0,20220103
606,202112,중앙선,상봉(시외버스터미널),126865.0,33906.0,126417.0,32759.0,20220103
607,202112,중앙선,망우,150511.0,59433.0,147014.0,61454.0,20220103
608,202112,중앙선,구리,296450.0,69042.0,300357.0,69854.0,20220103